nav {
  background-color: #1e1e2f; 
  padding: 15px 20px;
  display: flex; 
  align-items: center;
}

.container-header a {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}