/* card */
.movie-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  margin: 15px;
}

/* immagine*/
.movie-image img {
  width: 100%;
  height: 360px; 
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Contenuto  */
.movie-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.movie-title {
  font-size: 23px;
  color: #222;
}

.movie-director,
.movie-genre,
.movie-year {
  font-size: 15px;
  color: #555;
}

.movie-abstract {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}

.movie-link {
  margin-top: 15px;
  text-decoration: none;
  background-color: #e50914;
  color: white;
  padding: 10px 10px;
  border-radius: 6px;
  font-weight: bold;
}


