/* Titolo del film */
.film-title {
  text-align: center;
  font-size: 50px;
  color: #1e1e2f;
  padding: 30px 0 25px 0;
}

/* Contenitore recensioni */
.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 95%;
  margin: 0 auto;
}

/* Card recensione */
.review-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.review-content p {
  font-size: 16px;
}

