/* titolo pagina */
.page-title {
  text-align: center;
  font-size: 50px;
  color: #1e1e2f;
  padding: 30px 0 25px 0;
}

/* lista film */
.film-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  width: 65%;
  margin: 0 auto;
}
