/* Titolo della pagina */
.page-title {
  text-align: center;
  font-size: 50px;
  color: #1e1e2f;
  margin: 30px 0 25px 0;
}

/* Contenitore card */
.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  background-color: #f8f8f8;
  width: 95%;
  margin: 0 auto;
}

/* Card  */
.film-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

