/* stile generale */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colore bg */
.bg-pages{
    background-color: #f8f8f8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 200px;
        height: 200px;
        font-size: 2rem;
    }
}